*{
    text-align: center;
}
body {
    margin: 0;
    background: url(fondo2.jpg) center;
    background-repeat: no-repeat;
    
}
.hide {
   display: none ;
}

/* Styles for header */
header{
    width: 120px;
    height: 120px;
    background-image: url(logo.jpg);
    border-radius: 60px;
}
.text-center {
    text-align: center;
}
p {
    font-size: 30px;
    color: #202530;
    font-family: 'Abel', sans-serif;
    margin: 2%;
}
h4{
    font-size: 40px;
    font-family: 'Abel', sans-serif;
    margin: auto;
    color: white;
    -webkit-text-stroke: 0000.0007em black;
}
h2{
    color: #fe4c4a;
    font-size:45px;
    font-weight: 500;
    margin: 0%;
    font-family: 'Sigmar One', cursive;    
    -webkit-text-stroke: 3px #142f28;
}
#data , #data_1{
    background-color:white;
    border:2px solid #009e93;
    border-radius: 30px;
    padding-left: 9;
    margin:2%;
   margin-left: 20%;
    width: 60%;
    text-align: center;
}

.input1{
    color:#ff005d;
    font-size: 30px;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: transparent;
}
input{
 border: 30px;
 border:2px solid black;
 width: 300px;
 height: 35px;
 margin: auto;
}
.cifrar1, .descifrar1{
    height: 70px ;
    width: 150px;
    border: none;
    margin-top: 3%;
    border:4px solid #e47c5d;
  
}
button {
    border-radius: 30px;
    background: black;
    color: aliceblue;
    width: 150px;
    height: 70px;
    display: inline;
    font-family: 'Sofia', cursive;
    font-size: 20px;
}

button:hover{
  background: #2079b0;
  background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
  border-radius: 30px;
  display: inline;
  font-size: 20px;
  color: black;
  }
  
.button-cipher {
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Abel', sans-serif;
    background-color: #4d1522;
}
  #back1 , #back2{
      margin-top: 3%;
  }
h1 {
    color: #fe4c4a;
    font-size:60px;
    font-weight: 900;
    margin: 0%;
    font-family: 'Sigmar One', cursive;    
    -webkit-text-stroke: 3px #142f28;
}
#selectnumbers {
    width: 70px;
    height: 30px;
    background-color: #ddffff;
   border-radius: 25%;
   display: block;
}

  footer  {
    background-color: #a30001;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 40px;
    color: white;
}
  


